@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '../../../node_modules/bootstrap/scss/bootstrap-utilities';
@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';

* {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
}

body, html {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  :hover {
    color: $textColor;
  }
}

li {
  list-style: none;
}

.main-color-background {
  background: $mainColor;
}

.main-color-text {
  color: $mainColor;
}

.global-padding {
  padding-right: 20rem;
  padding-left: 20rem;
}
