<div id="top-footer" class="row global-padding py-4">
  <div class="col-3">
    <b>Store Location</b>
    <span>92 rue de la paix, Lyon, 69006</span>
  </div>
  <div class="col-3">
    <b>Work Inquiries</b>
    <span>medizin@contact.co</span>
  </div>
  <div class="col-3">
    <b>Call us</b>
    <span>03 83 47 41 56</span>
  </div>
  <div class="col-3">
    <b>Open hours</b>
    <span>Lundi au Vendredi, 9h à 17h</span>
  </div>
</div>
<div id="base-footer" class="row global-padding">
  <div class="col-4">Logo</div>
  <div class="col-2">Menu 1</div>
  <div class="col-2">Menu 2</div>
  <div class="col-4">Form Contact</div>
</div>
